.App{
  background-image: linear-gradient(#1b3919, #808000);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Options{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.PageTitle{
  width: 100%;
  height: 20%;
  
  display: flex;
}

#Title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 880%;
  width: 100%;

  align-self: center;
  text-align: center;
}

#Option{
  width: 18%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  border-radius: 25px;
  background-color: #FCFAEC;
  /* border: 5px solid; */
  border-color: #808000;
  
  aspect-ratio: 1/1;
}

#Name{
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}